.postList {

	> article {
		margin-bottom: 6rem;

		&:last-child {
			margin-bottom: 2rem;
		}
	}

	// Reverse order image/text every other post in archive.
	> article:nth-child(2n) {

		> div:nth-last-child(2) {

			@media screen and (min-width: 768px) {
				margin: {
					left: 20px;
					right: 0;
				}
				order: 1;
			}
		}
	}
}

.pagination {

	ul {
		display: flex;
		justify-content: center;
		list-style: none;
		margin-top: 1rem;
		padding: 0;

		li {
			margin: 0 1rem;
		}

		a {
			background-color: var(--color-main);
			color: var(--color-white);
			display: block;
			font-size: 125%;
			padding: 1rem 2rem;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				background-color: var(--color-accent);
			}
		}
	}
}
