.postSections {

	@media screen and (min-width: 992px) {
		display: flex;
		justify-content: space-between;
	}

	> section {
		margin-bottom: 20px;

		@media screen and (min-width: 992px) {
			width: calc(50% - 20px);
		}
	}

	.viewAll {
		text-align: center;
	}
}

.hero {
	margin: 0;
	max-height: 600px;
	max-width: none;
	padding: 0;
	position: relative;
	z-index: -1;
}
